/* LOADER */

#loader-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
}

#loader {
		position: absolute;
		z-index: 1001;
		margin: auto;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		width: 19px;
		height: 19px;
		border-radius: 100%;
		box-shadow: 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147);
		-o-box-shadow: 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147);
		-ms-box-shadow: 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147);
		-webkit-box-shadow: 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147);
		-moz-box-shadow: 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147);
		animation: cssload-spin ease infinite 3.2s;
		-o-animation: cssload-spin ease infinite 3.2s;
		-ms-animation: cssload-spin ease infinite 3.2s;
		-webkit-animation: cssload-spin ease infinite 3.2s;
		-moz-animation: cssload-spin ease infinite 3.2s;
}

@keyframes cssload-spin {
		0%, 100% {
				box-shadow: 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147);
		}
		25% {
				box-shadow: -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160);
		}
		50% {
				box-shadow: -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147);
		}
		75% {
				box-shadow: 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160);
		}
}

@-o-keyframes cssload-spin {
		0%, 100% {
				box-shadow: 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147);
		}
		25% {
				box-shadow: -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160);
		}
		50% {
				box-shadow: -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147);
		}
		75% {
				box-shadow: 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160);
		}
}

@-ms-keyframes cssload-spin {
		0%, 100% {
				box-shadow: 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147);
		}
		25% {
				box-shadow: -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160);
		}
		50% {
				box-shadow: -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147);
		}
		75% {
				box-shadow: 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160);
		}
}

@-webkit-keyframes cssload-spin {
		0%, 100% {
				box-shadow: 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147);
		}
		25% {
				box-shadow: -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160);
		}
		50% {
				box-shadow: -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147);
		}
		75% {
				box-shadow: 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160);
		}
}

@-moz-keyframes cssload-spin {
		0%, 100% {
				box-shadow: 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147);
		}
		25% {
				box-shadow: -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160);
		}
		50% {
				box-shadow: -19px -19px rgb(42, 99, 160), 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147);
		}
		75% {
				box-shadow: 19px -19px rgb(57, 174, 147), 19px 19px rgb(42, 99, 160), -19px 19px rgb(57, 174, 147), -19px -19px rgb(42, 99, 160);
		}
}

#loader-wrapper .loader-section {
		position: fixed;
		top: 0;
		width: 51%;
		height: 100%;
		background: #eee;
		z-index: 1000;
		-webkit-transform: translateX(0);
		/* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateX(0);
		/* IE 9 */
		transform: translateX(0);
		/* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
		left: 0;
}

#loader-wrapper .loader-section.section-right {
		right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
		-webkit-transform: translateX(-100%);
		/* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateX(-100%);
		/* IE 9 */
		transform: translateX(-100%);
		/* Firefox 16+, IE 10+, Opera */
		-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
		transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
		-webkit-transform: translateX(100%);
		/* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateX(100%);
		/* IE 9 */
		transform: translateX(100%);
		/* Firefox 16+, IE 10+, Opera */
		-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
		transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
		opacity: 0;
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
		visibility: hidden;
		-webkit-transform: translateY(-100%);
		/* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateY(-100%);
		/* IE 9 */
		transform: translateY(-100%);
		/* Firefox 16+, IE 10+, Opera */
		-webkit-transition: all 0.3s 1s ease-out;
		transition: all 0.3s 1s ease-out;
}
