/*
 * MEDIA QUERIES
 */

@media only screen and (min-width: 800px) and (max-width: 1024px) {
		.mision, .vision {
				margin-bottom: 25px;
		}
		.view-grid ul li {
				width: 20%;
		}
}

@media only screen and (max-width: 992px) {
		.btn-mn {
				display: inline;
		}
		.mision, .vision {
				margin-bottom: 25px;
		}
}

@media screen and (max-width: 830px) {
		.view-grid ul li {
				width: 30%;
		}
		.wrapper.menu {
				padding: 0 1.5rem;
		}
}

@media only screen and (min-width: 768px) {
	/*#map {
		margin-top: -10px !important;
	}*/
}

@media screen and (max-width: 650px) {
		.details {
				float: none;
				width: 100%;
		}
}


/* iPhone 6+ ----------- */

@media only screen and (min-width: 414px) and (max-width: 600px) {
		.brand-logo img {
				margin-top: 6px;
				width: 45px !important;
		}
		.errs {
				font-size: 10px !important;
		}
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
		.header-background {
				background-image: url('../../img/wall1.png') !important;
		}
		.anuncios .flex-center {
			display: block;
		}
		.content section {
				padding: 0.4em;
		}
		.details {
				font-size: 14px;
		}
		div.container {
				width: 95%;
				padding: 0 1rem;
		}
		.btn {
				padding: 10px !important;
		}
		.brand-logo img {
				margin-top: 6px;
				width: 40px !important;
		}
		div.icon {
				font-size: 65px;
		}
		i.prefix {
				font-size: 25px !important;
		}
		.errs {
				font-size: 10px !important;
		}
		.view-grid ul li {
				width: 50%;
		}
}

@media only screen and (max-width: 360px) {
		.content section {
				padding: 0.2em;
		}
		div.container {
				padding: 0 0.5rem;
		}
		.errs {
				font-size: 10px !important;
		}
		.wrapper.menu {
				padding: 0 2rem;
		}
		.contactForm .row > div input[type="text"],
		.contactForm .row > div input[type="email"],
		.contactForm .row > div textarea {
			width: 100%;
		}
}

@media only screen and (max-width: 320px) {
		.errs {
				font-size: 10px !important;
		}
}
