/*******************
 *  GLOBAL
 ******************/

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300|Open+Sans:400,300,600);
* {
		box-sizing: border-box;
}

html, body {
		font-family: 'Open Sans', sans-serif;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
}

a {
		color: #39ae92;
		text-decoration: none !important;
}

a:hover, a:focus {
		color: #2a63a0;
		text-decoration: none;
}

.flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
}

hr {
		border-color: #ccc;
}
ul {
	margin-bottom: 0.4px;
}
textarea {
	resize: none;
}

/* IMAGENES */

.img-center {
		margin: 0 auto;
}


/* SECCIONES */

.wrapper {
		width: 100%;
}

.contain {
		width: 95%;
		margin: 0 auto;
		padding: 3rem 0 0 0;
}

.wrapper::before, .contain::before, .footer::before {
		display: table;
		content: ' ';
}

.all-footer {
		/*position: absolute;*/
		bottom: 0;
		left: 0;
		width: 100%;
}

.row {
		margin-right: -10px;
		margin-left: -10px;
}

.ads {
		margin-bottom: 50px;
}


/* TEXTO */

.h1, .h2, .h3, h1, h2, h3 {
		margin-top: 5px !important;
		margin-bottom: 10px !important;
}

.text-justify {
		text-align: justify;
}

.text-center {
		text-align: center;
}

.text-right {
		text-align: right;
}

.text-left {
		text-align: left;
}

.light {
		font-weight: 100 !important;
}

.strong {
		font-weight: 600;
}

.blue-title {
		color: #2a63a0;
		font-family: "Montserrat";
}


/* BOTONES */

.btn {
		font-size: 14px !important;
		font-weight: 600 !important;
		font-style: normal !important;
		display: inline-block !important;
		width: auto !important;
		padding: 10px 15px !important;
		transition: background .2s ease 0s !important;
		border: medium none !important;
		border-radius: 0 !important;
		background-color: #39ae92;
		color: #fff;
}

a[type="button"] {
		-webkit-appearance: none;
}

a.btn:hover {
		color: #fff;
}

a.btn:active {
		background-color: #2a63a0;
}

a.btn:before {
		display: inline-block;
		vertical-align: middle;
		text-transform: none;
		font-weight: normal;
		font-variant: normal;
		font-family: FontAwesome;
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
		margin: -0.25em 0.4em 0 0;
}


/* FORMULARIOS */

input.form-control {
		box-shadow: none !important;
}


/*--------------------------------------------------------------------------*/


/*******************
 *  MENU
 ******************/


/* LOGO */

.logo a {
		float: left;
		width: 240px;
		height: 69px;
		padding: 0;
		background-image: url(../../img/logo.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
}

.logo a:hover {
		cursor: pointer;
}


/* MENU */

.menu {
		/*border-bottom: 1px solid rgba(0, 0, 0, 0.08); */
		position: relative;
		height: 69px;
		padding: 0 4rem;
		background: #fff none repeat scroll 0 0;
}

.menu {
		text-decoration: none;
}

.menu ul {
		position: relative;
		float: right;
		overflow: hidden;
		padding: 0;
		text-align: center;
}

.menu ul li {
		font-family: "Montserrat";
		text-transform: uppercase;
		font-size: 16px;
		/*font-weight: 600;*/
		display: inline-block;
		box-sizing: border-box;
}


/* ITEMS DEL MENU */

.menu-item {
		padding: 2.33rem 0rem;
}

.menu-item a {
		color: #2a63a0 !important;
		padding: 2.33rem 1rem;
		cursor: pointer;
}

.menu-item:hover a, .menu-item.active a {
		color: #39ae92 !important;
}


/* ANIMACION DE LINEA */

.line {
		position: absolute;
		bottom: -1px;
		left: calc(-100% / 5);
		width: calc(100%/5);
		height: 4px;
		transition: .5s ease-in-out;
		background: #39ae92;
}

.menu ul li:nth-child(1):hover~.line, .menu ul li:nth-child(1).active~.line {
		left: 0%;
		width: 72px;
}

.menu ul li:nth-child(2):hover~.line, .menu ul li:nth-child(2).active~.line {
		left: 75px;
		width: 126px;
}

.menu ul li:nth-child(3):hover~.line, .menu ul li:nth-child(3).active~.line {
		left: 204px;
		width: 107px;
}

.menu ul li:nth-child(4):hover~.line, .menu ul li:nth-child(4).active~.line {
		left: 314px;
		width: 143px;
}

/*.menu ul li:nth-child(5):hover~.line, .menu ul li:nth-child(5).active~.line {
		left: 460px;
		width: 35px;
}*/


/* MOBILE MENU */

#mobile {
		z-index: 6000;
		width: 100%;
}

#mobile nav ul li {
		float: none !important;
}

.btn-mn {
		float: right;
}

#sh {
		display: none;
}

.btn-mn label {
		color: rgb(86, 140, 138);
}

.btn-mn label:hover {
		color: rgb(217, 133, 60);
}

.btn-mn label i {
		font-size: 2.7rem;
		line-height: 56px;
		height: 56px;
		padding: .5rem;
}

.btn-mn label:hover {
		cursor: pointer;
}

.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		height: -moz-calc(100%);
		height: calc(100%);
		background: rgba(0, 0, 0, .9);
}

.overlay label {
		position: absolute;
		z-index: 100;
		top: 20px;
		right: 20px;
		width: 32px;
		height: 32px;
		cursor: pointer;
		background: url('https://lh3.googleusercontent.com/-y8-rsZsWfTA/VfeDIis5B5I/AAAAAAAAAmI/ObXN6BzqyLk/s32-Ic42/cross.png');
}

.overlay nav {
		font-size: 54px;
		position: relative;
		top: 50%;
		height: 75%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		text-align: center;
}

.overlay ul {
		position: relative;
		display: inline-block;
		float: none;
		height: 100%;
		margin: 0 auto;
		padding: 0;
		list-style: none;
}

.overlay ul li {
		display: block;
		height: 50px;
		min-height: 50px;
}

.overlay ul li a {
		font-size: 2rem;
		font-weight: 300;
		display: block;
		-webkit-transition: color .2s;
		transition: color .2s;
		text-decoration: none;
		text-transform: uppercase;
		color: white;
}

.overlay ul li:hover a, .overlay ul li:hover a {
		color: #39ae92;
}

.btn-mn~.overlay-full {
		visibility: hidden;
		-webkit-transition: opacity .5s, visibility 0s .5s;
		transition: opacity .5s, visibility 0s .5s;
		opacity: 0;
}

#sh:checked~body {
		overflow: hidden !important;
}

#sh:checked~.overlay-full {
		z-index: 6000;
		visibility: visible;
		overflow: auto;
		-webkit-transition: opacity .5s;
		transition: opacity .5s;
		opacity: 1;
}

.overlay-full nav {
		-moz-perspective: 300px;
}

.overlay-full nav ul {
		-webkit-transition: -webkit-transform .5s, opacity .5s;
		transition: transform .5s, opacity .5s;
		-webkit-transform: translateY(-25%) rotateX(35deg);
		transform: translateY(-25%) rotateX(35deg);
		opacity: .4;
}

#sh:checked~.overlay-full nav ul {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		opacity: 1;
}

#sh:not(:checked)~.overlay-full nav ul {
		-webkit-transform: translateY(25%) rotateX(-35deg);
		transform: translateY(25%) rotateX(-35deg);
}


/*--------------------------------------------------------------------------*/


/************** SECCIONES *************/


/* HEADER */
.opaco {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	min-width: 50%;
	text-decoration: none;
	position: relative;
	text-align: center;
	color: #fff;
	background: #222 no-repeat center center;
	background-size: cover;
	overflow: hidden;
}
.header-background.opaco::before{
		content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}
.header-background {
		height: 420px;
		background-image: url('../../img/wall.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

.header-background.headr {
		height: 320px;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: 65% 50%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		color: #fff;
}

.header-background.footr {
		height: 250px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		margin-top: 10rem;
}

.header-background.footr .contain {
		padding: 0;
}

.header-background.footr a {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		min-width: 50%;
		text-decoration: none;
		position: relative;
		text-align: center;
		color: #fff;
		background: #222 no-repeat center center;
		background-size: cover;
		overflow: hidden;
}

.header-background.footr a::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		transition: all 0.5s ease;
}

.header-background.footr a:hover:before {
		background: rgba(0, 0, 0, 0.7);
		transition: all 0.3s ease;
}


/* FOOTER */

.footer-copy {
		/*height: 70px;*/
		background: #2a63a0;
		/*rgb(86, 140, 138);*/
}

.footer-copy .row, .login-form .row {
		margin: 0 !important;
}

.footer-copy .copy {
		font-size: 12px;
		float: left;
		padding: 2.5rem 4rem;
		color: #e5f3f2;
}

.footer-copy .socials {
		font-size: 32px;
		float: right;
		padding: 1rem 4rem;
}

.footer-copy .socials a {
		color: #fff;
}

.footer-copy .copy a {
		color: #fff;
		font-weight: 600;
}

.footer-copy .copy a:hover {
		color: #39ae92;
}


/* COLORES REDES SOCIALES */

#fb:hover {
		color: #3b5998;
		text-shadow: 0 0 3px #fff;
}

#tw:hover {
		color: #00aced;
		text-shadow: 0 0 3px #fff;
}

#gp:hover {
		color: #dd4b39;
		text-shadow: 0 0 3px #fff;
}

#ig:hover {
		color: #125688;
		text-shadow: 0 0 3px #fff;
}


/*--------------------------------------------------------------------------*/


/* CONTENIDO */

.details {
		font-size: 16px;
		/*font-weight: 300;*/
}

.content section {
		font-size: 1.25em;
		max-width: 1230px;
		margin: 0 auto;
		padding: .5em 1em;
}

.content section:before, .content section:after {
		display: table;
		content: '';
}

.content section:after {
		clear: both;
}


/* ICONOS */

.icon-add:before {
		content: '\f217';
}


/* ADS */

#suscribe h4 {
		font-weight: 600;
}

#suscribe {
		padding: 20px;
		color: #333;
}

.thumbnail.ads {
		text-align: center;
		border: solid 1px #ccc;
		border-width: 3px;
		border-style: dashed;
		background: none;
}

.thumbnail.ads a.btn {
		display: inline-block;
		margin: 20px 0 0;
		transition: background .2s ease 0s;
}

.thumbnail.ads input.form-control {
		font-family: "Open Sans";
		font-style: italic;
		height: 4rem;
		padding: 0 5px;
		color: #888;
		border: solid 1px #ccc;
		border-radius: 4px;
}


/*********** ALERTAS ***********/

.sweet-alert button.confirm {
		background-color: #2a63a0 !important;
}

.sweet-alert button.confirm:active {
		background: #39ae92 !important;
}


/*********** SWITCHER ***********/

.switcher ul {
		list-style: none;
		padding: 0;
		margin: 0;
}


/* Clear eventual floats */

.switcher ul:before, .switcher ul:after {
		content: " ";
		display: table;
}

.switcher ul:after {
		clear: both;
}

.switcher ul li {
		display: block;
		position: relative;
}

.product-image {
		display: flex;
		margin: 0 auto;
		min-height: 185.38px;
		align-items: center;
		justify-content: center;
}

.product-image img {
		display: inline-block;
		max-width: 100%;
		border: none;
}

.product-title {
		margin: 0;
		padding: 0;
}

.product-price {
		color: #c0c0c0;
}


/* Large grid view */

.view-grid ul {
		text-align: center;
}

.view-grid ul li {
		width: 15%;
		text-align: center;
		padding: 10px;
		margin: 0 0;
		display: inline-block;
		min-height: 250px;
		vertical-align: top;
}

.view-grid .product-title {
		font-size: 1.3em;
}

.view-grid .product-price {
		margin: 10px 0;
		font-size: 1.2em;
}


/* ERRORS */

.errors {
		color: #f00;
		font-size: 11px;
		display: block;
		position: absolute;
}

.err,
#suscribir.err {
		box-shadow: 0 0 4px #f00 !important;
}
/* MAPA*/
#map {
	height: 100%;
	width: 100%;
}

/* FORMULARIO DE CONTACTO*/
.contactForm .row > div:nth-child(2) {
	padding-bottom: 20px;
}

.contactForm .row > div input[type="text"],
.contactForm .row > div input[type="email"] {
	width: 75%;
}
.contactForm .row > div textarea{
	width: 90%;
}
/* GO TOP */
#goTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#goTop i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#goTop:hover {
    background: rgba(0, 0, 0, 0.9);
}
#goTop:hover i {
    color: #fff;
    top: 5px;
}
/*INICIA ESTILO PARA LOS PRODUCTOS*/

/*Estilo botones del carrito*/

.add {
	border-radius: 3px;
	width: 20px;
	height: 20px;
	background-color: #25A187;
}


.cart {
  position: absolute;
  width: auto;
  left: -500%;
  list-style: none;
  background: #fff;
  border-radius: 4px;
  margin-top:8.5em;
  top: -8.5em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
.cart2{
  position: absolute;
  width: auto;
  left: -500%;
  list-style: none;
  background: #fff;
  border-radius: 4px;
  margin-top: 6.5em;
  top: -6.5em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  visibility: visible;
}
.cart li {
  padding: 10px;
  height: 72px;
}
.cart li button {
  background: transparent;
  margin: 0;
  width: 0;
  height: 0;
  color: #25A187;
  line-height: 0;
  padding: 0px 8px 0px 8px !important;
}
.cart img {
  width: 50px;
  border: 2px solid #25A187;
  float: left;
}
.cart .title {
  color: #25A187;
  padding-left: 15px;
  float: left;
  font-size: 14px;
}
.cart .price {
  display: block;
  float: left;
}
.cart #total {
  height: auto !important;
  background: #25A187;
  color: #fff;
  font-size: 13px;
}
.cart .pay {
  color: #fff !important;
  font-size: 13px !important;
  text-align: right;
  width: auto;
}
.cart:after, .cart:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.cart:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 15px;
  margin-top: -27px;
}
.cart:before {
  border-color: transparent;
  border-left-color: #fff;
  border-width: 15px;
  margin-top: -27px;
}
.cart #submitForm {
  float: right;
}

.cart-icon {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 2;
  top: 44px;
  right: 10px;
  height: 50px;
  width: 50px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzIgMzIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwYXRoIGZpbGw9IiMzMTRENUQiIGQ9Ik00LDIxYzAsMC42LDAuNCwxLDEsMWgyNWMwLjYsMCwxLTAuNCwxLTFzLTAuNC0xLTEtMUg2di0yaDE5YzAuNSwwLDAuOS0wLjMsMS0wLjhsMy0xMmMwLjEtMC4zLDAtMC42LTAuMi0wLjlTMjguMyw0LDI4LDRINlYxYzAtMC42LTAuNC0xLTEtMUgxQzAuNCwwLDAsMC40LDAsMXMwLjQsMSwxLDFoM1YyMXoiLz48Y2lyY2xlIGZpbGw9IiMzMTRENUQiIGN4PSI3IiBjeT0iMjgiIHI9IjMiLz48Y2lyY2xlIGZpbGw9IiMzMTRENUQiIGN4PSIyOCIgY3k9IjI4IiByPSIzIi8+PC9nPjwvc3ZnPg==) no-repeat center center;
}
.cart-icon #totalItems {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  background-color: #46b29d;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s 0s;
  -moz-transition: -moz-transform 0.2s 0s;
  transition: transform 0.2s 0s;
}
